*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arials", sans-serif;
    font-weight: normal;
    font-size: 20px;
}

body{
    background: linear-gradient(to right, #f6d335aa, #f19731);
}

.calcGrid{
    
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    button{
        cursor: pointer;
        font-size: 2rem;
        border: 1px solid white;
        outline: none;
        background-color: rgba(255, 255, 255, .75);
    }
    button:hover{
        background-color: rgba(255, 255, 255, .9);
    }
}

.spanTwo{
    grid-column: span 2;
}

.output{
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: .5rem;
    word-wrap: break-word;
    word-break: break-all;
    .previousOperand{
        color:rgba(255, 255, 255, .60);
    }
    .currentOperand{
        font-size: 2.5rem;
    }
}
